<!DOCTYPE html>
<html lang="ru">

<head>
  {% block meta %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  <title>{% block title %}BlaBlaArticle - Лучший генератор статей{% endblock %}</title>

  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}
</head>

<body>

  <div class="d-flex" id="wrapper">

    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">BlaBlaArticle</div>
      <div class="list-group list-group-flush">
        <a href="{{ path('app_dashboard') }}"     class="list-group-item list-group-item-action active">Рабочий стол</a>
        <a href="{{ path('app_dashboard') }}"     class="list-group-item list-group-item-action bg-light">Создать статью</a>
        <a href="{{ path('app_dashboard') }}"     class="list-group-item list-group-item-action bg-light">История статей</a>
        <a href="{{ path('app_dashboard') }}"     class="list-group-item list-group-item-action bg-light">Подписка</a>
        <a href="{{ path('app_dashboard') }}"     class="list-group-item list-group-item-action bg-light">Профиль</a>
        <a href="{{ path('app_dashboard') }}"     class="list-group-item list-group-item-action bg-light">Модули генератора</a>
      </div>
    </div>

    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Скрыть меню</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Показать/Скрыть навигацию">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="{{ path('app_logout') }}">Выйти</a>
            </li>
          </ul>
        </div>
      </nav>
    
    {% block body %}{% endblock %}
      
    </div>

  </div>

{% block javascripts %}
  {{ encore_entry_script_tags('app') }}
{% endblock %}

</body>

</html>
